In [2]:
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
aqi_2019 = pd.read_csv('data/air_quality/daily_aqi_2019.csv')
aqi_2019.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,1/3/2019,18,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,1/6/2019,35,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,1/9/2019,14,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,1/12/2019,36,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,1/15/2019,38,Good,PM2.5,01-003-0010,1

In [4]:
aqi_2020 = pd.read_csv('data/air_quality/daily_aqi_2020.csv')
aqi_2020.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2020-01-01,48,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2020-01-04,13,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2020-01-07,14,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2020-01-10,39,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2020-01-13,29,Good,PM2.5,01-003-0010,1

In [5]:
aqi_df = pd.merge(aqi_2019, aqi_2020, how = 'outer', on = ['State Name','county Name'])

In [6]:
aqi_df.head()

,State Name,county Name,State Code_x,County Code_x,Date_x,AQI_x,Category_x,Defining Parameter_x,Defining Site_x,Number of Sites Reporting_x,State Code_y,County Code_y,Date_y,AQI_y,Category_y,Defining Parameter_y,Defining Site_y,Number of Sites Reporting_y
0,Alabama,Baldwin,1.0,3.0,1/3/2019,18.0,Good,PM2.5,01-003-0010,1.0,1.0,3.0,2020-01-01,48.0,Good,PM2.5,01-003-0010,1.0
1,Alabama,Baldwin,1.0,3.0,1/3/2019,18.0,Good,PM2.5,01-003-0010,1.0,1.0,3.0,2020-01-04,13.0,Good,PM2.5,01-003-0010,1.0
2,Alabama,Baldwin,1.0,3.0,1/3/2019,18.0,Good,PM2.5,01-003-0010,1.0,1.0,3.0,2020-01-07,14.0,Good,PM2.5,01-003-0010,1.0
3,Alabama,Baldwin,1.0,3.0,1/3/2019,18.0,Good,PM2.5,01-003-0010,1.0,1.0,3.0,2020-01-10,39.0,Good,PM2.5,01-003-0010,1.0
4,Alabama,Baldwin,1.0,3.0,1/3/2019,18.0,Good,PM2.5,01-003-0010,1.0,1.0,3.0,2020-01-13,29.0,Good,PM2.5,01-003-0010,1.0

In [7]:
aqi_df.tail()

,State Name,county Name,State Code_x,County Code_x,Date_x,AQI_x,Category_x,Defining Parameter_x,Defining Site_x,Number of Sites Reporting_x,State Code_y,County Code_y,Date_y,AQI_y,Category_y,Defining Parameter_y,Defining Site_y,Number of Sites Reporting_y
74353128,Wisconsin,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,81.0,2020-04-03,23.0,Good,PM2.5,55-081-2001,1.0
74353129,Wisconsin,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,81.0,2020-04-09,10.0,Good,PM2.5,55-081-2001,1.0
74353130,Wisconsin,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,81.0,2020-04-15,14.0,Good,PM2.5,55-081-2001,1.0
74353131,Wisconsin,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,81.0,2020-04-21,13.0,Good,PM2.5,55-081-2001,1.0
74353132,Wisconsin,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,81.0,2020-04-27,23.0,Good,PM2.5,55-081-2001,1.0

In [8]:
aqi = pd.merge(right = aqi_2019, left = aqi_2020, how = 'outer')

In [9]:
aqi.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2020-01-01,48,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2020-01-04,13,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2020-01-07,14,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2020-01-10,39,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2020-01-13,29,Good,PM2.5,01-003-0010,1

In [10]:
aqi.tail()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
559654,Wyoming,Weston,56,45,12/27/2019,36,Good,Ozone,56-045-0003,2
559655,Wyoming,Weston,56,45,12/28/2019,37,Good,Ozone,56-045-0003,2
559656,Wyoming,Weston,56,45,12/29/2019,34,Good,Ozone,56-045-0003,2
559657,Wyoming,Weston,56,45,12/30/2019,36,Good,Ozone,56-045-0003,2
559658,Wyoming,Weston,56,45,12/31/2019,40,Good,Ozone,56-045-0003,2

In [11]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 559659 entries, 0 to 559658
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State Name                 559659 non-null  object
 1   county Name                559659 non-null  object
 2   State Code                 559659 non-null  int64
 3   County Code                559659 non-null  int64
 4   Date                       559659 non-null  object
 5   AQI                        559659 non-null  int64
 6   Category                   559659 non-null  object
 7   Defining Parameter         559659 non-null  object
 8   Defining Site              559659 non-null  object
 9   Number of Sites Reporting  559659 non-null  int64
dtypes: int64(4), object(6)
memory usage: 47.0+ MB

In [12]:
aqi.to_csv (r'C:\Users\18285\Desktop\aqi_merge.csv', index = False, header=True)

In [13]:
annual_2020 = pd.read_csv('data/air_quality/annual_aqi_by_county_2020.csv')
annual_2020.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2020,168,159,9,0,0,0,0,74,48,37,0,0,130,0,38,0
1,Alabama,Clay,2020,58,54,4,0,0,0,0,86,49,24,0,0,0,0,58,0
2,Alabama,DeKalb,2020,242,234,8,0,0,0,0,90,46,37,0,0,230,0,12,0
3,Alabama,Elmore,2020,149,149,0,0,0,0,0,47,43,33,0,0,149,0,0,0
4,Alabama,Etowah,2020,169,161,8,0,0,0,0,92,46,35,0,0,137,0,32,0

In [14]:
annual_2019 = pd.read_csv('data/air_quality/annual_aqi_by_county_2019.csv')
annual_2019.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2019,271,237,34,0,0,0,0,80,52,37,0,0,220,0,51,0
1,Alabama,Clay,2019,107,97,10,0,0,0,0,67,50,30,0,0,0,0,107,0
2,Alabama,Colbert,2019,263,252,11,0,0,0,0,61,47,37,0,0,228,0,35,0
3,Alabama,DeKalb,2019,361,324,37,0,0,0,0,90,51,39,0,0,331,0,30,0
4,Alabama,Elmore,2019,228,208,20,0,0,0,0,100,50,39,0,0,228,0,0,0

In [15]:
annual = pd.merge(right = annual_2019, left = annual_2020, how = 'outer')

In [16]:
annual.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2020,168,159,9,0,0,0,0,74,48,37,0,0,130,0,38,0
1,Alabama,Clay,2020,58,54,4,0,0,0,0,86,49,24,0,0,0,0,58,0
2,Alabama,DeKalb,2020,242,234,8,0,0,0,0,90,46,37,0,0,230,0,12,0
3,Alabama,Elmore,2020,149,149,0,0,0,0,0,47,43,33,0,0,149,0,0,0
4,Alabama,Etowah,2020,169,161,8,0,0,0,0,92,46,35,0,0,137,0,32,0

In [18]:
annual.tail()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
2085,Wyoming,Sublette,2019,365,266,88,8,3,0,0,200,71,46,0,0,363,0,2,0
2086,Wyoming,Sweetwater,2019,365,262,100,3,0,0,0,133,64,46,0,4,321,0,5,35
2087,Wyoming,Teton,2019,365,326,39,0,0,0,0,87,51,43,0,0,359,0,4,2
2088,Wyoming,Uinta,2019,365,315,49,1,0,0,0,101,58,44,0,1,360,0,0,4
2089,Wyoming,Weston,2019,365,340,25,0,0,0,0,71,49,40,0,0,360,5,0,0

In [19]:
annual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2090 entries, 0 to 2089
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                2090 non-null   object
 1   County                               2090 non-null   object
 2   Year                                 2090 non-null   int64
 3   Days with AQI                        2090 non-null   int64
 4   Good Days                            2090 non-null   int64
 5   Moderate Days                        2090 non-null   int64
 6   Unhealthy for Sensitive Groups Days  2090 non-null   int64
 7   Unhealthy Days                       2090 non-null   int64
 8   Very Unhealthy Days                  2090 non-null   int64
 9   Hazardous Days                       2090 non-null   int64
 10  Max AQI                              2090 non-null   int64
 11  90th Percentile AQI                  2090 non-null   int64
 12  Median AQI                           2090 non-null   int64
 13  Days CO                              2090 non-null   int64
 14  Days NO2                             2090 non-null   int64
 15  Days Ozone                           2090 non-null   int64
 16  Days SO2                             2090 non-null   int64
 17  Days PM2.5                           2090 non-null   int64
 18  Days PM10                            2090 non-null   int64
dtypes: int64(17), object(2)
memory usage: 326.6+ KB

In [20]:
annual.to_csv (r'C:\Users\18285\Desktop\annual_merge.csv', index = False, header=True)

In [59]:
n02_2020 = pd.read_csv('data/air_quality/n02_2020.csv')
n02_2020.head(1)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,26,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",10/28/2020

In [60]:
n02_2019 = pd.read_csv('data/air_quality/n02_2019.csv')
n02_2019.head(1)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,8,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",6/12/2020

In [61]:
n02 = pd.merge(right = n02_2020, left = n02_2019, how = 'outer')

In [63]:
n02.head(1)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,8,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",6/12/2020

In [64]:
n02.tail(1)

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
248182,72,61,6,42602,1,18.422595,-66.120012,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,12,599,Instrumental - Chemiluminescence Teledyne API ...,NaN,De Diego Highway,Puerto Rico,Guaynabo,Guaynabo,"San Juan-Carolina-Caguas, PR",9/2/2020

In [65]:
n02.to_csv (r'C:\Users\18285\Desktop\n02_merge.csv', index = False, header=True)