In [1]:
import pandas as pd
import geopandas as gpd
from collections import Counter
import matplotlib.pyplot as plt

%matplotlib inline

### Reading in 'Energy Consumption' Data

#### COAL

In [3]:
coal = pd.read_csv('data/energy_consumption/coal_clean.csv')
coal.head()

,year,month,type,all_sectors,electric,ind_power_producers,commercial_sector,industrial_sector
0,2019,January,coal,"55,834","41,306","14,305",8,214
1,2019,February,coal,"45,025","33,349","11,471",8,197
2,2019,March,coal,"43,974","31,664","12,133",9,168
3,2019,April,coal,"33,353","24,495","8,691",6,161
4,2019,May,coal,"40,015","30,285","9,547",6,178

In [4]:
coal.tail()

,year,month,type,all_sectors,electric,ind_power_producers,commercial_sector,industrial_sector
16,2020,May,coal,"26,849","19,805","6,898",4,142
17,2020,June,coal,"36,637","27,742","8,759",5,130
18,2020,July,coal,"49,838","38,279","11,411",5,143
19,2020,August,coal,"50,430","38,888","11,398",4,140
20,2020,Sept,coal,"38,701","29,619","8,927",7,149

#### NATURAL GAS

In [5]:
natural_gas = pd.read_csv('data/energy_consumption/natural_gas_clean.csv')
natural_gas.head()

,year,month,type,all_sectors,electric_utilities,ind_power_producers,commercial_sector,industrial_sector
0,2019,January,natural gas,"873,247","441,597","373,529","4,566","53,555"
1,2019,February,natural gas,"801,042","411,828","338,638","4,217","46,359"
2,2019,March,natural gas,"835,654","431,525","350,686","4,516","48,926"
3,2019,April,natural gas,"762,539","398,908","313,343","4,173","46,115"
4,2019,May,natural gas,"863,102","458,692","350,386","4,217","49,806"

In [6]:
natural_gas.tail()

,year,month,type,all_sectors,electric_utilities,ind_power_producers,commercial_sector,industrial_sector
16,2020,May,natural gas,"853,523","456,172","346,972","3,804","46,574"
17,2020,June,natural gas,"1,067,619","556,783","457,006","4,249","49,581"
18,2020,July,natural gas,"1,396,437","715,032","623,770","5,046","52,588"
19,2020,August,natural gas,"1,304,306","665,469","580,958","4,980","52,899"
20,2020,Sept,natural gas,"1,058,029","536,040","469,587","4,484","47,918"

#### PETROLIUM LIQUIDS

In [7]:
petro_liquids = pd.read_csv('data/energy_consumption/petro_liquid_clean.csv')
petro_liquids.head()

,year,month,type,all_sectors,electric_utilities,ind_power_producers,commercial_sector,industrial_sector
0,2019,January,petro liquids,"2,506","1,672",755,32,46
1,2019,February,petro liquids,"1,482","1,099",327,15,42
2,2019,March,petro liquids,"1,476","1,159",263,16,38
3,2019,April,petro liquids,"1,417","1,046",313,15,44
4,2019,May,petro liquids,"1,702","1,305",346,17,33

In [9]:
petro_liquids.tail()

,year,month,type,all_sectors,electric_utilities,ind_power_producers,commercial_sector,industrial_sector
16,2020,May,petro liquids,"1,288","1,010",227,20,31
17,2020,June,petro liquids,"1,569","1,232",287,20,30
18,2020,July,petro liquids,"1,747","1,343",348,25,31
19,2020,August,petro liquids,"1,674","1,316",311,24,23
20,2020,Sept,petro liquids,"1,411","1,129",233,23,27

#### PETROLIUM COKE

In [11]:
petro_coke = pd.read_csv('data/energy_consumption/petro_coke_clean.csv')
petro_coke.head()

,year,month,type,all_sectors,electric_utilities,ind_power_producers,commercial_sector,industrial_sector
0,2019,January,petro coke,326,258,54,0,13
1,2019,February,petro coke,272,222,39,0,11
2,2019,March,petro coke,235,193,28,0,13
3,2019,April,petro coke,155,107,32,0,16
4,2019,May,petro coke,294,219,60,0,14

In [12]:
petro_coke.tail()

,year,month,type,all_sectors,electric_utilities,ind_power_producers,commercial_sector,industrial_sector
16,2020,May,petro coke,231,183,35,0,13
17,2020,June,petro coke,308,258,36,0,14
18,2020,July,petro coke,356,298,43,0,15
19,2020,August,petro coke,305,245,44,0,16
20,2020,Sept,petro coke,159,116,31,0,13

### Reading in 'Transportation Trends' Data